.pos-s {
  position: static !important;
}
.pos-r {
  position: relative !important;
}
.pos-a {
  position: absolute !important;
}
.pos-f {
  position: fixed !important;
}

@media (min-width: 720px) {
  .ls-pos-s {
    position: static !important;
  }
  .ls-pos-r {
    position: relative !important;
  }
  .ls-pos-a {
    position: absolute !important;
  }
  .ls-pos-f {
    position: fixed !important;
  }
}

.t-a {
  top: auto !important;
}
.t-0 {
  top: 0 !important;
}
.t-05rem {
  top: .5rem !important;
}
.t-1rem {
  top: 1rem !important;
}
.t-2rem {
  top: 2rem !important;
}
.t-3rem {
  top: 3rem !important;
}
.t-4rem {
  top: 4rem !important;
}
.t-5rem {
  top: 5rem !important;
}
.t-8rem {
  top: 8rem !important;
}
.t-13rem {
  top: 13rem !important;
}

.t-2vw {
  top: 2vw !important;
}

.t--05rem {
  top: -.5rem !important;
}
.t--1rem {
  top: -1rem !important;
}
.t--2rem {
  top: -2rem !important;
}
.t--3rem {
  top: -3rem !important;
}
.t--4rem {
  top: -4rem !important;
}

.b-a {
  bottom: auto !important;
}
.b-0 {
  bottom: 0 !important;
}
.b-1rem {
  bottom: 1rem !important;
}
.b-2rem {
  bottom: 2rem !important;
}
.b-3rem {
  bottom: 3rem !important;
}
.b-4rem {
  bottom: 4rem !important;
}
.b-5rem {
  bottom: 5rem !important;
}
.b-8rem {
  bottom: 8rem !important;
}
.b-13rem {
  bottom: 13rem !important;
}

.r-a {
  right: auto !important;
}
.r-0 {
  right: 0 !important;
}
.r-1rem {
  right: 1rem !important;
}
.r-2rem {
  right: 2rem !important;
}
.r-3rem {
  right: 3rem !important;
}
.r-4rem {
  right: 4rem !important;
}
.r-5rem {
  right: 5rem !important;
}
.r-8rem {
  right: 8rem !important;
}
.r-13rem {
  right: 13rem !important;
}

.l-a {
  left: auto !important;
}
.l-0 {
  left: 0 !important;
}
.l-05rem {
  left: .5rem !important;
}
.l-1rem {
  left: 1rem !important;
}
.l-2rem {
  left: 2rem !important;
}
.l-3rem {
  left: 3rem !important;
}
.l-4rem {
  left: 4rem !important;
}
.l-5rem {
  left: 5rem !important;
}
.l-8rem {
  left: 8rem !important;
}
.l-13rem {
  left: 13rem !important;
}

@media (min-width: 720px) {

  .ls-t-a {
    top: auto !important;
  }
  .ls-t-0 {
    top: 0 !important;
  }
  .ls-t-05rem {
    top: .5rem !important;
  }
  .ls-t-1rem {
    top: 1rem !important;
  }
  .ls-t-2rem {
    top: 2rem !important;
  }
  .ls-t-3rem {
    top: 3rem !important;
  }
  .ls-t-4rem {
    top: 4rem !important;
  }
  .ls-t-5rem {
    top: 5rem !important;
  }
  .ls-t-8rem {
    top: 8rem !important;
  }
  .ls-t-13rem {
    top: 13rem !important;
  }

  .ls-t-2vw {
    top: 2vw !important;
  }

  .ls-t--05rem {
    top: -.5rem !important;
  }
  .ls-t--1rem {
    top: -1rem !important;
  }
  .ls-t--2rem {
    top: -2rem !important;
  }
  .ls-t--3rem {
    top: -3rem !important;
  }
  .ls-t--4rem {
    top: -4rem !important;
  }
  .ls-t--5rem {
    top: -5rem !important;
  }

  .ls-b-a {
    bottom: auto !important;
  }
  .ls-b-0 {
    bottom: 0 !important;
  }
  .ls-b-1rem {
    bottom: 1rem !important;
  }
  .ls-b-2rem {
    bottom: 2rem !important;
  }
  .ls-b-3rem {
    bottom: 3rem !important;
  }
  .ls-b-4rem {
    bottom: 4rem !important;
  }
  .ls-b-5rem {
    bottom: 5rem !important;
  }
  .ls-b-8rem {
    bottom: 8rem !important;
  }
  .ls-b-13rem {
    bottom: 13rem !important;
  }

  .ls-r-a {
    right: auto !important;
  }
  .ls-r-0 {
    right: 0 !important;
  }
  .ls-r-1rem {
    right: 1rem !important;
  }
  .ls-r-2rem {
    right: 2rem !important;
  }
  .ls-r-3rem {
    right: 3rem !important;
  }
  .ls-r-4rem {
    right: 4rem !important;
  }
  .ls-r-5rem {
    right: 5rem !important;
  }
  .ls-r-8rem {
    right: 8rem !important;
  }
  .ls-r-13rem {
    right: 13rem !important;
  }

  .ls-l-a {
    left: auto !important;
  }
  .ls-l-0 {
    left: 0 !important;
  }
  .ls-l-05rem {
    left: .5rem !important;
  }
  .ls-l-1rem {
    left: 1rem !important;
  }
  .ls-l-2rem {
    left: 2rem !important;
  }
  .ls-l-3rem {
    left: 3rem !important;
  }
  .ls-l-4rem {
    left: 4rem !important;
  }
  .ls-l-5rem {
    left: 5rem !important;
  }
  .ls-l-8rem {
    left: 8rem !important;
  }
  .ls-l-13rem {
    left: 13rem !important;
  }
}

.l--05rem {
  left: -.5rem !important;
}
.l--1rem {
  left: -1rem !important;
}
.l--2rem {
  left: -2rem !important;
}
.l--3rem {
  left: -3rem !important;
}
.l--4rem {
  left: -4rem !important;
}
.l--5rem {
  left: -5rem !important;
}
.l--8rem {
  left: -8rem !important;
}

.fl-l {
  float: left !important;
}
.fl-r {
  float: right !important;
}

@media (min-width: 720px) {
  .ls-fl-l {
    float: left !important;
  }
  .ls-fl-r {
    float: right !important;
  }
}

.d-none,
.d-n {
  display: none !important;
}
.d-s {
  display: static !important;
}
.d-b {
  display: block !important;
}
.d-ib {
  display: inline-block !important;
}
.d-i {
  display: inline !important;
}
.d-f {
  display: flex !important;
}

@media (min-width: 720px) {
  .ls-d-none {
    display: none !important;
  }
  .ls-d-s {
    display: static !important;
  }
  .ls-d-b {
    display: block !important;
  }
  .ls-d-ib {
    display: inline-block !important;
  }
  .ls-d-i {
    display: inline !important;
  }
  .ls-d-f {
    display: flex !important;
  }
}

.p-0 {
  padding: 0rem !important;
}
.p-05 {
  padding: .5rem !important;
}
.p-1 {
  padding: 1rem !important;
}
.p-2 {
  padding: 2rem !important;
}
.p-3 {
  padding: 3rem !important;
}
.p-4 {
  padding: 4rem !important;
}
.p-5 {
  padding: 5rem !important;
}
.p-8 {
  padding: 8rem !important;
}
.p-10 {
  padding: 10rem !important;
}
.p-13 {
  padding: 13rem !important;
}
.p-13vw {
  padding: 13vw !important;
}

.p-t-0 {
  padding-top: 0rem !important;
}
.p-t-05 {
  padding-top: .5rem !important;
}
.p-t-1 {
  padding-top: 1rem !important;
}
.p-t-2 {
  padding-top: 2rem !important;
}
.p-t-3 {
  padding-top: 3rem !important;
}
.p-t-4 {
  padding-top: 4rem !important;
}
.p-t-5 {
  padding-top: 5rem !important;
}
.p-t-8 {
  padding-top: 8rem !important;
}
.p-t-10 {
  padding-top: 10rem !important;
}
.p-t-13 {
  padding-top: 13rem !important;
}

.p-r-0 {
  padding-right: 0rem !important;
}
.p-r-05 {
  padding-right: .5rem !important;
}
.p-r-1 {
  padding-right: 1rem !important;
}
.p-r-2 {
  padding-right: 2rem !important;
}
.p-r-3 {
  padding-right: 3rem !important;
}
.p-r-4 {
  padding-right: 4rem !important;
}
.p-r-5 {
  padding-right: 5rem !important;
}
.p-r-8 {
  padding-right: 8rem !important;
}
.p-r-10 {
  padding-right: 10rem !important;
}
.p-r-13 {
  padding-right: 13rem !important;
}

.p-b-0 {
  padding-bottom: 0rem !important;
}
.p-b-05 {
  padding-bottom: .5rem !important;
}
.p-b-1 {
  padding-bottom: 1rem !important;
}
.p-b-2 {
  padding-bottom: 2rem !important;
}
.p-b-3 {
  padding-bottom: 3rem !important;
}
.p-b-4 {
  padding-bottom: 4rem !important;
}
.p-b-5 {
  padding-bottom: 5rem !important;
}
.p-b-8 {
  padding-bottom: 8rem !important;
}
.p-b-10 {
  padding-bottom: 10rem !important;
}
.p-b-13 {
  padding-bottom: 13rem !important;
}

.p-l-0 {
  padding-left: 0rem !important;
}
.p-l-05 {
  padding-left: .5rem !important;
}
.p-l-1 {
  padding-left: 1rem !important;
}
.p-l-2 {
  padding-left: 2rem !important;
}
.p-l-3 {
  padding-left: 3rem !important;
}
.p-l-4 {
  padding-left: 4rem !important;
}
.p-l-5 {
  padding-left: 5rem !important;
}
.p-l-8 {
  padding-left: 8rem !important;
}
.p-l-10 {
  padding-left: 10rem !important;
}
.p-l-13 {
  padding-left: 13rem !important;
}

.p-h-0 {
  padding-left: 0rem !important;
  padding-right: 0rem !important;
}
.p-h-05 {
  padding-left: .5rem !important;
  padding-right: .5rem !important;
}
.p-h-1 {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}
.p-h-2 {
  padding-left: 2rem !important;
  padding-right: 2rem !important;
}
.p-h-3 {
  padding-left: 3rem !important;
  padding-right: 3rem !important;
}
.p-h-4 {
  padding-left: 4rem !important;
  padding-right: 4rem !important;
}
.p-h-5 {
  padding-left: 5rem !important;
  padding-right: 5rem !important;
}
.p-h-8 {
  padding-left: 8rem !important;
  padding-right: 8rem !important;
}
.p-h-10 {
  padding-left: 10rem !important;
  padding-right: 10rem !important;
}
.p-h-13 {
  padding-left: 13rem !important;
  padding-right: 13rem !important;
}
.p-h-13vw {
  padding-left: 13vw !important;
  padding-right: 13vw !important;
}

.p-v-0 {
  padding-top: 0rem !important;
  padding-bottom: 0rem !important;
}
.p-v-1 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}
.p-v-2 {
  padding-top: 2rem !important;
  padding-bottom: 2rem !important;
}
.p-v-3 {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}
.p-v-4 {
  padding-top: 4rem !important;
  padding-bottom: 4rem !important;
}
.p-v-5 {
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
}
.p-v-8 {
  padding-top: 8rem !important;
  padding-bottom: 8rem !important;
}
.p-v-10 {
  padding-top: 10rem !important;
  padding-bottom: 10rem !important;
}
.p-v-13 {
  padding-top: 13rem !important;
  padding-bottom: 13rem !important;
}

@media screen and (min-width: 720px){
  .ls-p-0 {
    padding: 0rem !important;
  }
  .ls-p-05 {
    padding: 0.5rem !important;
  }
  .ls-p-1 {
    padding: 1rem !important;
  }
  .ls-p-2 {
    padding: 2rem !important;
  }
  .ls-p-3 {
    padding: 3rem !important;
  }
  .ls-p-4 {
    padding: 4rem !important;
  }
  .ls-p-5 {
    padding: 5rem !important;
  }
  .ls-p-8 {
    padding: 8rem !important;
  }
  .ls-p-10 {
    padding: 10rem !important;
  }
  .ls-p-13 {
    padding: 13rem !important;
  }
  .ls-p-13vw {
    padding: 13vw !important;
  }

  .ls-p-t-0 {
    padding-top: 0rem !important;
  }
  .ls-p-t-05 {
    padding-top: .5rem !important;
  }
  .ls-p-t-1 {
    padding-top: 1rem !important;
  }
  .ls-p-t-2 {
    padding-top: 2rem !important;
  }
  .ls-p-t-3 {
    padding-top: 3rem !important;
  }
  .ls-p-t-4 {
    padding-top: 4rem !important;
  }
  .ls-p-t-5 {
    padding-top: 5rem !important;
  }
  .ls-p-t-8 {
    padding-top: 8rem !important;
  }
  .ls-p-t-10 {
    padding-top: 10rem !important;
  }
  .ls-p-t-13 {
    padding-top: 13rem !important;
  }

  .ls-p-r-0 {
    padding-right: 0rem !important;
  }
  .ls-p-r-05 {
    padding-right: .5rem !important;
  }
  .ls-p-r-1 {
    padding-right: 1rem !important;
  }
  .ls-p-r-2 {
    padding-right: 2rem !important;
  }
  .ls-p-r-3 {
    padding-right: 3rem !important;
  }
  .ls-p-r-4 {
    padding-right: 4rem !important;
  }
  .ls-p-r-5 {
    padding-right: 5rem !important;
  }
  .ls-p-r-8 {
    padding-right: 8rem !important;
  }
  .ls-p-r-10 {
    padding-right: 10rem !important;
  }
  .ls-p-r-13 {
    padding-right: 13rem !important;
  }

  .ls-p-b-0 {
    padding-bottom: 0rem !important;
  }
  .ls-p-b-05 {
    padding-bottom: .5rem !important;
  }
  .ls-p-b-1 {
    padding-bottom: 1rem !important;
  }
  .ls-p-b-2 {
    padding-bottom: 2rem !important;
  }
  .ls-p-b-3 {
    padding-bottom: 3rem !important;
  }
  .ls-p-b-4 {
    padding-bottom: 4rem !important;
  }
  .ls-p-b-5 {
    padding-bottom: 5rem !important;
  }
  .ls-p-b-8 {
    padding-bottom: 8rem !important;
  }
  .ls-p-b-10 {
    padding-bottom: 10rem !important;
  }
  .ls-p-b-13 {
    padding-bottom: 13rem !important;
  }

  .ls-p-l-0 {
    padding-left: 0rem !important;
  }
  .ls-p-l-05 {
    padding-left: .5rem !important;
  }
  .ls-p-l-1 {
    padding-left: 1rem !important;
  }
  .ls-p-l-2 {
    padding-left: 2rem !important;
  }
  .ls-p-l-3 {
    padding-left: 3rem !important;
  }
  .ls-p-l-4 {
    padding-left: 4rem !important;
  }
  .ls-p-l-5 {
    padding-left: 5rem !important;
  }
  .ls-p-l-8 {
    padding-left: 8rem !important;
  }
  .ls-p-l-10 {
    padding-left: 10rem !important;
  }
  .ls-p-l-13 {
    padding-left: 13rem !important;
  }

  .ls-p-h-0 {
    padding-left: 0rem !important;
    padding-right: 0rem !important;
  }
  .ls-p-h-05 {
    padding-left: .5rem !important;
    padding-right: .5rem !important;
  }
  .ls-p-h-1 {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
  .ls-p-h-2 {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
  }
  .ls-p-h-3 {
    padding-left: 3rem !important;
    padding-right: 3rem !important;
  }
  .ls-p-h-4 {
    padding-left: 4rem !important;
    padding-right: 4rem !important;
  }
  .ls-p-h-5 {
    padding-left: 5rem !important;
    padding-right: 5rem !important;
  }
  .ls-p-h-8 {
    padding-left: 8rem !important;
    padding-right: 8rem !important;
  }
  .ls-p-h-10 {
    padding-left: 10rem !important;
    padding-right: 10rem !important;
  }
  .ls-p-h-13 {
    padding-left: 13rem !important;
    padding-right: 13rem !important;
  }
  .ls-p-h-13vw {
    padding-left: 13vw !important;
    padding-right: 13vw !important;
  }

  .ls-p-v-0 {
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
  }
  .ls-p-v-1 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
  }
  .ls-p-v-2 {
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
  }
  .ls-p-v-3 {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  }
  .ls-p-v-4 {
    padding-top: 4rem !important;
    padding-bottom: 4rem !important;
  }
  .ls-p-v-5 {
    padding-top: 5rem !important;
    padding-bottom: 5rem !important;
  }
  .ls-p-v-8 {
    padding-top: 8rem !important;
    padding-bottom: 8rem !important;
  }
  .ls-p-v-10 {
    padding-top: 10rem !important;
    padding-bottom: 10rem !important;
  }
  .ls-p-v-13 {
    padding-top: 13rem !important;
    padding-bottom: 13rem !important;
  }
}

.m-a {
  margin: auto !important;
}
.m-0 {
  margin: 0 !important;
}
.m-05 {
  margin: .5rem !important;
}
.m-1 {
  margin: 1rem !important;
}
.m-2 {
  margin: 2rem !important;
}
.m-3 {
  margin: 3rem !important;
}
.m-4 {
  margin: 4rem !important;
}
.m-5 {
  margin: 5rem !important;
}
.m-8 {
  margin: 8rem !important;
}
.m-10 {
  margin: 10rem !important;
}
.m-13 {
  margin: 13rem !important;
}

.m-v-a {
  margin-top: auto !important;
  margin-bottom: auto !important;
}
.m-v-0 {
  margin-top: 0rem !important;
  margin-bottom: 0rem !important;
}
.m-v-05 {
  margin-top: .5rem !important;
  margin-bottom: .5rem !important;
}
.m-v-1 {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}
.m-v-2 {
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
}
.m-v-3 {
  margin-top: 3rem !important;
  margin-bottom: 3rem !important;
}
.m-v-4 {
  margin-top: 4rem !important;
  margin-bottom: 4rem !important;
}
.m-v-5 {
  margin-top: 5rem !important;
  margin-bottom: 5rem !important;
}
.m-v-8 {
  margin-top: 8rem !important;
  margin-bottom: 8rem !important;
}
.m-v-10 {
  margin-top: 10rem !important;
  margin-bottom: 10rem !important;
}
.m-v-13 {
  margin-top: 13rem !important;
  margin-bottom: 13rem !important;
}

.m-h-a {
  margin-right: auto !important;
  margin-left: auto !important;
}
.m-h-0 {
  margin-right: 0rem !important;
  margin-left: 0rem !important;
}
.m-h-05 {
  margin-right: .5rem !important;
  margin-left: .5rem !important;
}
.m-h-1 {
  margin-right: 1rem !important;
  margin-left: 1rem !important;
}
.m-h-2 {
  margin-right: 2rem !important;
  margin-left: 2rem !important;
}
.m-h-3 {
  margin-right: 3rem !important;
  margin-left: 3rem !important;
}
.m-h-4 {
  margin-right: 4rem !important;
  margin-left: 4rem !important;
}
.m-h-5 {
  margin-right: 5rem !important;
  margin-left: 5rem !important;
}
.m-h-8 {
  margin-right: 8rem !important;
  margin-left: 8rem !important;
}
.m-h-10 {
  margin-right: 10rem !important;
  margin-left: 10rem !important;
}
.m-h-13 {
  margin-right: 13rem !important;
  margin-left: 13rem !important;
}

.m-t-0 {
  margin-top: 0rem !important;
}
.m-t-05 {
  margin-top: .5rem !important;
}
.m-t-1 {
  margin-top: 1rem !important;
}
.m-t-2 {
  margin-top: 2rem !important;
}
.m-t-3 {
  margin-top: 3rem !important;
}
.m-t-4 {
  margin-top: 4rem !important;
}
.m-t-5 {
  margin-top: 5rem !important;
}
.m-t-8 {
  margin-top: 8rem !important;
}
.m-t-10 {
  margin-top: 10rem !important;
}
.m-t-13 {
  margin-top: 13rem !important;
}

.m-r-0 {
  margin-right: 0rem !important;
}
.m-r-05 {
  margin-right: .5rem !important;
}
.m-r-1 {
  margin-right: 1rem !important;
}
.m-r-2 {
  margin-right: 2rem !important;
}
.m-r-3 {
  margin-right: 3rem !important;
}
.m-r-4 {
  margin-right: 4rem !important;
}
.m-r-5 {
  margin-right: 5rem !important;
}
.m-r-8 {
  margin-right: 8rem !important;
}
.m-r-10 {
  margin-right: 10rem !important;
}
.m-r-13 {
  margin-right: 13rem !important;
}

.m-b-0 {
  margin-bottom: 0rem !important;
}
.m-b-05 {
  margin-bottom: .5rem !important;
}
.m-b-1 {
  margin-bottom: 1rem !important;
}
.m-b-2 {
  margin-bottom: 2rem !important;
}
.m-b-3 {
  margin-bottom: 3rem !important;
}
.m-b-4 {
  margin-bottom: 4rem !important;
}
.m-b-5 {
  margin-bottom: 5rem !important;
}
.m-b-8 {
  margin-bottom: 8rem !important;
}
.m-b-10 {
  margin-bottom: 10rem !important;
}
.m-b-13 {
  margin-bottom: 13rem !important;
}

.m-l-0 {
  margin-left: 0rem !important;
}
.m-l-05 {
  margin-left: .5rem !important;
}
.m-l-1 {
  margin-left: 1rem !important;
}
.m-l-2 {
  margin-left: 2rem !important;
}
.m-l-3 {
  margin-left: 3rem !important;
}
.m-l-4 {
  margin-left: 4rem !important;
}
.m-l-5 {
  margin-left: 5rem !important;
}
.m-l-8 {
  margin-left: 8rem !important;
}
.m-l-10 {
  margin-left: 10rem !important;
}
.m-l-13 {
  margin-left: 13rem !important;
}

.m-l--05 {
  margin-left: -.5rem !important;
}
.m-l--1 {
  margin-left: -1rem !important;
}
.m-l--2 {
  margin-left: -2rem !important;
}
.m-l--3 {
  margin-left: -3rem !important;
}
.m-l--4 {
  margin-left: -4rem !important;
}
.m-l--5 {
  margin-left: -5rem !important;
}

@media (min-width: 720px) {
  .ls-m-a {
    margin: auto !important;
  }
  .ls-m-0 {
    margin: 0 !important;
  }
  .ls-m-05 {
    margin: .5rem !important;
  }
  .ls-m-1 {
    margin: 1rem !important;
  }
  .ls-m-2 {
    margin: 2rem !important;
  }
  .ls-m-3 {
    margin: 3rem !important;
  }
  .ls-m-4 {
    margin: 4rem !important;
  }
  .ls-m-5 {
    margin: 5rem !important;
  }
  .ls-m-8 {
    margin: 8rem !important;
  }
  .ls-m-10 {
    margin: 10rem !important;
  }
  .ls-m-13 {
    margin: 13rem !important;
  }

  .ls-m-v-a {
    margin-top: auto !important;
    margin-bottom: auto !important;
  }
  .ls-m-v-0 {
    margin-top: 0rem !important;
    margin-bottom: 0rem !important;
  }
  .ls-m-v-05 {
    margin-top: .5rem !important;
    margin-bottom: .5rem !important;
  }
  .ls-m-v-1 {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
  }
  .ls-m-v-2 {
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
  }
  .ls-m-v-3 {
    margin-top: 3rem !important;
    margin-bottom: 3rem !important;
  }
  .ls-m-v-4 {
    margin-top: 4rem !important;
    margin-bottom: 4rem !important;
  }
  .ls-m-v-5 {
    margin-top: 5rem !important;
    margin-bottom: 5rem !important;
  }
  .ls-m-v-8 {
    margin-top: 8rem !important;
    margin-bottom: 8rem !important;
  }
  .ls-m-v-10 {
    margin-top: 10rem !important;
    margin-bottom: 10rem !important;
  }
  .ls-m-v-13 {
    margin-top: 13rem !important;
    margin-bottom: 13rem !important;
  }

  .ls-m-h-a {
    margin-right: auto !important;
    margin-left: auto !important;
  }
  .ls-m-h-0 {
    margin-right: 0rem !important;
    margin-left: 0rem !important;
  }
  .ls-m-h-05 {
    margin-right: .5rem !important;
    margin-left: .5rem !important;
  }
  .ls-m-h-1 {
    margin-right: 1rem !important;
    margin-left: 1rem !important;
  }
  .ls-m-h-2 {
    margin-right: 2rem !important;
    margin-left: 2rem !important;
  }
  .ls-m-h-3 {
    margin-right: 3rem !important;
    margin-left: 3rem !important;
  }
  .ls-m-h-4 {
    margin-right: 4rem !important;
    margin-left: 4rem !important;
  }
  .ls-m-h-5 {
    margin-right: 5rem !important;
    margin-left: 5rem !important;
  }
  .ls-m-h-8 {
    margin-right: 8rem !important;
    margin-left: 8rem !important;
  }
  .ls-m-h-10 {
    margin-right: 10rem !important;
    margin-left: 10rem !important;
  }
  .ls-m-h-13 {
    margin-right: 13rem !important;
    margin-left: 13rem !important;
  }

  .ls-m-t-0 {
    margin-top: 0rem !important;
  }
  .ls-m-t-05 {
    margin-top: .5rem !important;
  }
  .ls-m-t-1 {
    margin-top: 1rem !important;
  }
  .ls-m-t-2 {
    margin-top: 2rem !important;
  }
  .ls-m-t-3 {
    margin-top: 3rem !important;
  }
  .ls-m-t-4 {
    margin-top: 4rem !important;
  }
  .ls-m-t-5 {
    margin-top: 5rem !important;
  }
  .ls-m-t-8 {
    margin-top: 8rem !important;
  }
  .ls-m-t-10 {
    margin-top: 10rem !important;
  }
  .ls-m-t-13 {
    margin-top: 13rem !important;
  }

  .ls-m-r-0 {
    margin-right: 0rem !important;
  }
  .ls-m-r-05 {
    margin-right: .5rem !important;
  }
  .ls-m-r-1 {
    margin-right: 1rem !important;
  }
  .ls-m-r-2 {
    margin-right: 2rem !important;
  }
  .ls-m-r-3 {
    margin-right: 3rem !important;
  }
  .ls-m-r-4 {
    margin-right: 4rem !important;
  }
  .ls-m-r-5 {
    margin-right: 5rem !important;
  }
  .ls-m-r-8 {
    margin-right: 8rem !important;
  }
  .ls-m-r-10 {
    margin-right: 10rem !important;
  }
  .ls-m-r-13 {
    margin-right: 13rem !important;
  }

  .ls-m-b-0 {
    margin-bottom: 0rem !important;
  }
  .ls-m-b-05 {
    margin-bottom: .5rem !important;
  }
  .ls-m-b-1 {
    margin-bottom: 1rem !important;
  }
  .ls-m-b-2 {
    margin-bottom: 2rem !important;
  }
  .ls-m-b-3 {
    margin-bottom: 3rem !important;
  }
  .ls-m-b-4 {
    margin-bottom: 4rem !important;
  }
  .ls-m-b-5 {
    margin-bottom: 5rem !important;
  }
  .ls-m-b-8 {
    margin-bottom: 8rem !important;
  }
  .ls-m-b-10 {
    margin-bottom: 10rem !important;
  }
  .ls-m-b-13 {
    margin-bottom: 13rem !important;
  }

  .ls-m-l-0 {
    margin-left: 0rem !important;
  }
  .ls-m-l-05 {
    margin-left: .5rem !important;
  }
  .ls-m-l-1 {
    margin-left: 1rem !important;
  }
  .ls-m-l-2 {
    margin-left: 2rem !important;
  }
  .ls-m-l-3 {
    margin-left: 3rem !important;
  }
  .ls-m-l-4 {
    margin-left: 4rem !important;
  }
  .ls-m-l-5 {
    margin-left: 5rem !important;
  }
  .ls-m-l-8 {
    margin-left: 8rem !important;
  }
  .ls-m-l-10 {
    margin-left: 10rem !important;
  }
  .ls-m-l-13 {
    margin-left: 13rem !important;
  }

  .ls-m-l--05 {
    margin-left: -.5rem !important;
  }
  .ls-m-l--1 {
    margin-left: -1rem !important;
  }
  .ls-m-l--2 {
    margin-left: -2rem !important;
  }
  .ls-m-l--3 {
    margin-left: -3rem !important;
  }
  .ls-m-l--4 {
    margin-left: -4rem !important;
  }
  .ls-m-l--5 {
    margin-left: -5rem !important;
  }
}

.f-s-xxxs {
  font-size: .7rem !important;
  line-height: 1.5 !important;
}
.f-s-xxs {
  font-size: .8rem !important;
  line-height: 1.5 !important;
}
.f-s-xs {
  font-size: .9rem !important;
  line-height: 1.5 !important;
}
.f-s-s {
  font-size: 1rem !important;
  line-height: 1.4 !important;
}
.f-s-ms {
  font-size: 1.25rem !important;
  line-height: 1.4 !important;
}
.f-s-m {
  font-size: 1.5rem !important;
  line-height: 1.3 !important;
}
.f-s-l {
  font-size: 2rem !important;
  line-height: 1.25 !important;
}
.f-s-xl {
  font-size: 3rem !important;
  line-height: 1.2 !important;
  margin-left: -3px;
}
.f-s-xxl {
  font-size: 5vw !important;
  line-height: 1.1 !important;
  margin-left: -5px;
}
.f-s-xxxl {
  font-size: 10vw !important;
  line-height: 1 !important;
}
.f-s-xxxxl {
  font-size: 15vw !important;
  line-height: 1 !important;
  margin-left: -10px;
}

@media (min-width: 720px) {

  .ls-f-s-xxxs {
    font-size: .7rem !important;
    line-height: 1.5 !important;
  }
  .ls-f-s-xxs {
    font-size: .8rem !important;
    line-height: 1.5 !important;
  }
  .ls-f-s-xs {
    font-size: .9rem !important;
    line-height: 1.5 !important;
  }
  .ls-f-s-s {
    font-size: 1rem !important;
    line-height: 1.4 !important;
  }
  .ls-f-s-ms {
    font-size: 1.25rem !important;
    line-height: 1.4 !important;
  }
  .ls-f-s-m {
    font-size: 1.5rem !important;
    line-height: 1.3 !important;
  }
  .ls-f-s-l {
    font-size: 2rem !important;
    line-height: 1.25 !important;
  }
  .ls-f-s-xl {
    font-size: 3rem !important;
    line-height: 1.2 !important;
    margin-left: -3px;
  }
  .ls-f-s-xxl {
    font-size: 5vw !important;
    line-height: 1.1 !important;
    margin-left: -5px;
  }
  .ls-f-s-xxxl {
    font-size: 10vw !important;
    line-height: 1 !important;
    margin-left: -7px;
  }
  .ls-f-s-xxxxl {
    font-size: 15vw !important;
    line-height: 1 !important;
    margin-left: -10px;
  }
}

.l-h-xxxs {
  line-height: 8rem !important;
}
.l-h-xxs {
  line-height: 1rem !important;
}
.l-h-xs {
  line-height: 1.1rem !important;
}
.l-h-s {
  line-height: 1.25rem !important;
}
.l-h-m {
  line-height: 1.4rem !important;
}
.l-h-l {
  line-height: 1.55rem !important;
}
.l-h-xl {
  line-height: 1.7rem !important;
}
.l-h-xxl {
  line-height: 2rem !important;
}
.l-h-xxxl {
  line-height: 2.5rem !important;
}

.f-w-100 {
  font-weight: 100 !important;
}
.f-w-300 {
  font-weight: 300 !important;
}
.f-w-500 {
  font-weight: 500 !important;
}
.f-w-700 {
  font-weight: 700 !important;
}
.f-w-900 {
  font-weight: 900 !important;
}

.t-a-l {
  text-align: left !important;
}
.t-a-c {
  text-align: center !important;
}
.t-a-r {
  text-align: right !important;
}
.t-a-j {
  text-align: justify !important;
}

.bd-none {
  border: none !important;
}
.bd {
  border: 1px solid !important;
}
.bd-t {
  border-top: 1px solid !important;
}
.bd-r {
  border-right: 1px solid !important;
}
.bd-b {
  border-bottom: 1px solid !important;
}
.bd-l {
  border-left: 1px solid !important;
}

.bd-w-1 {
  border-width: 1px !important;
}
.bd-w-2 {
  border-width: 2px !important;
}
.bd-w-3 {
  border-width: 3px !important;
}
.bd-w-4 {
  border-width: 4px !important;
}
.bd-w-5 {
  border-width: 5px !important;
}
.bd-w-6 {
  border-width: 6px !important;
}
.bd-w-7 {
  border-width: 7px !important;
}
.bd-w-8 {
  border-width: 8px !important;
}
.bd-w-10 {
  border-width: 10px !important;
}
.bd-w-16 {
  border-width: 16px !important;
}

@media (min-width: 720px) {
  .ls-bd-none {
    border: none !important;
  }
  .ls-bd {
    border: 1px solid !important;
  }
  .ls-bd-t {
    border-top: 1px solid !important;
  }
  .ls-bd-r {
    border-right: 1px solid !important;
  }
  .ls-bd-b {
    border-bottom: 1px solid !important;
  }
  .ls-bd-l {
    border-left: 1px solid !important;
  }

  .ls-bd-w-1 {
    border-width: 1px !important;
  }
  .ls-bd-w-2 {
    border-width: 2px !important;
  }
  .ls-bd-w-3 {
    border-width: 3px !important;
  }
  .ls-bd-w-4 {
    border-width: 4px !important;
  }
  .ls-bd-w-5 {
    border-width: 5px !important;
  }
  .ls-bd-w-6 {
    border-width: 6px !important;
  }
  .ls-bd-w-7 {
    border-width: 7px !important;
  }
  .ls-bd-w-8 {
    border-width: 8px !important;
  }
  .ls-bd-w-10 {
    border-width: 10px !important;
  }
  .ls-bd-w-16 {
    border-width: 16px !important;
  }
}

.bg-s-a {
  background-size: auto !important;
}
.bg-s-cv,
.bg-s-c
{
  background-size: cover !important;
}
.bg-s-ct,
.bg-s-cn
{
  background-size: contain !important;
}

.bg-p-c {
  background-position: center;
}

.ol {
  outline: 1px solid;
}
.ol-inner-1rem {
  outline: 1px solid;
  outline-offset: -1rem;
}
.ol-inner-2rem {
  outline: 1px solid;
  outline-offset: -2rem;
}

.bg-bars {
  background: inherit;
}

.bd-caps:before {
  content: '';
  width: 62%;
  height: 50px;
  left: 19%;
  right: 19%;
  margin: 0 0 20px 0;
  border: 8px solid;
  border-bottom: none;
  display: inline-block;
}
.bd-caps:after {
  content: '';
  width: 62%;
  height: 50px;
  left: 19%;
  right: 19%;
  margin: 0 0 20px 0;
  border: 8px solid;
  border-top: none;
  display: inline-block;
}

.ol-w-1 {
  outline-width: 1px;
}
.ol-w-2 {
  outline-width: 2px;
}
.ol-w-3 {
  outline-width: 3px;
}
.ol-w-4 {
  outline-width: 4px;
}
.ol-w-5 {
  outline-width: 5px;
}
.ol-w-6 {
  outline-width: 6px;
}
.ol-w-7 {
  outline-width: 7px;
}
.ol-w-8 {
  outline-width: 8px;
}
.ol-w-10 {
  outline-width: 10px;
}
.ol-w-16 {
  outline-width: 16px;
}

@media screen and (min-width: 720px){
  .fx-r {
    display: flex !important;
    flex-direction: row !important;
    align-items: flex-start !important;
  }
}
.fx-c {
  display: flex !important;
  flex-direction: column !important;
  align-items: flex-start !important;
  justify-items: flex-start !important;
}

.fx-w-w {
  flex-wrap: wrap;
}
.fx-w-n {
  flex-wrap: nowrap;
}
.fx-1 {
  flex: 1 !important;
}
.fx-2 {
  flex: 2 !important;
}
.fx-3 {
  flex: 3 !important;
}
.fx-4 {
  flex: 4 !important;
}

@media (min-width: 720px) {
  .fx-b-25p {
    flex-basis: 25% !important;
  }
  .fx-b-33p {
    flex-basis: 33.333% !important;
  }
  .fx-b-50p {
    flex-basis: 50% !important;
  }
  .fx-b-66p {
    flex-basis: 66.666% !important;
  }
  .fx-b-75p {
    flex-basis: 75% !important;
  }
}

.j-c-start {
  justify-content: flex-start !important;
}
.j-c-end {
  justify-content: flex-end !important;
}
.j-c-center {
  justify-content: center !important;
}
.j-c-between {
  justify-content: space-between !important;
}
.j-c-around {
  justify-content: space-around !important;
}

.a-i-start {
  align-items: flex-start !important;
}
.a-i-stretch {
  align-items: stretch !important;
}
.a-i-end {
  align-items: flex-end !important;
}
.a-i-center {
  align-items: center !important;
}
.a-i-baseline {
  align-items: baseline !important;
}

.col-gap-0 {
  column-gap: 0 !important;
}
.col-gap-xxs {
  column-gap: .5rem !important;
}
.col-gap-xs {
  column-gap: 1rem !important;
}
.col-gap-s {
  column-gap: 2rem !important;
}
.col-gap-m {
  column-gap: 3rem !important;
}
.col-gap-l {
  column-gap: 5rem !important;
}
.col-gap-xl {
  column-gap: 8rem !important;
}
.col-gap-xxl {
  column-gap: 13rem !important;
}

.col-w-20p {
  column-width: 20% !important;
}
.col-w-25p {
  column-width: 25% !important;
}
.col-w-33p {
  column-width: 33.33333% !important;
}
.col-w-50p {
  column-width: 50% !important;
}

@media screen and (min-width: 720px){
  .col-2 {
    -moz-column-count: 2 !important;
    column-count: 2 !important;
    column-fill: balance !important;
    margin: auto !important;
  }
  .col-3 {
    -moz-column-count: 3 !important;
    column-count: 3 !important;
    column-fill: balance !important;
    margin: auto !important;
  }
  .col-4 {
    -moz-column-count: 4 !important;
    column-count: 4 !important;
    column-fill: balance !important;
    margin: auto !important;
  }
}


.v-a-t {
  vertical-align: top !important;
}
.v-a-b {
  vertical-align: bottom !important;
}
.v-a-bl {
  vertical-align: baseline !important;
}
.v-a-m {
  vertical-align: middle !important;
}

.vis-h {
  visibility: hidden !important;
}
.vis-v {
  visibility: visible !important;
}

@media (max-width: 720px) {
  .ss-vis-h {
    visibility: hidden !important;
  }
  .ss-vis-v {
    visibility: visible !important;
  }
}

.op-0 {
  opacity: 0 !important;
}
.op-10 {
  opacity: .1 !important;
}
.op-20 {
  opacity: .2 !important;
}
.op-30 {
  opacity: .3 !important;
}
.op-40 {
  opacity: .4 !important;
}
.op-50 {
  opacity: .5 !important;
}
.op-60 {
  opacity: .6 !important;
}
.op-70 {
  opacity: .7 !important;
}
.op-80 {
  opacity: .8 !important;
}
.op-90 {
  opacity: .9 !important;
}
.op-95 {
  opacity: .95 !important;
}
.op-100 {
  opacity: 1 !important;
}

.ov-h {
  overflow: hidden !important;
}
.ov-v {
  overflow: visible !important;
}
.ov-s {
  overflow: scroll !important;
}
.ov-a {
  overflow: auto !important;
}
.ov-x-a {
  overflow-x: auto !important;
}
.ov-y-a {
  overflow-y: auto !important;
}
.ov-x-h {
  overflow-x: hidden !important;
}
.ov-y-h {
  overflow-y: hidden !important;
}

.w-s-nowrap {
  white-space: nowrap !important;
}

.sup-1 {
  position: relative !important;
  top: -.5rem !important;
}
.sup-1 {
  position: relative !important;
  top: -1rem !important;
}
.sup-2 {
  position: relative !important;
  top: -1.5rem !important;
}
.sup-3 {
  position: relative !important;
  top: -2rem !important;
}

@media (min-width: 720px) {
  .ls-sup-1 {
    position: relative !important;
    top: -.5rem !important;
  }
  .ls-sup-1 {
    position: relative !important;
    top: -1rem !important;
  }
  .ls-sup-2 {
    position: relative !important;
    top: -1.5rem !important;
  }
  .ls-sup-3 {
    position: relative !important;
    top: -2rem !important;
  }
}

.square {
  position: relative !important;
}
.square:before {
  content: '' !important;
  padding-top: 100% !important;
  display: block !important;
}
.square .Cover {
  position: absolute !important;
  left: 0 !important;
  top: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
}
.square img {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;
}

.image-fit .Cover {
  width: 100% !important;
  height: 100% !important;
}
.image-fit img {
  width: 100% !important;
  height: 100% !important;
  position: absolute !important;
  max-height: none !important;
  max-width: none !important;
  object-fit: cover !important;
}

.circle,
.circle img {
  border-radius: 50% !important;
}
.rounded-full {
  border-radius: 4000px !important;
}

.fullscreen {
  width: 100vw !important;
  height: 100vh !important;
}

.w-fs {
  width: 100vw !important;
}

.w-a {
  width: auto !important;
}
.w-0 {
  width: 0 !important;
}
.w-100p {
  width: 100% !important;
}
.w-90p {
  width: 90% !important;
}
.w-80p {
  width: 80% !important;
}
.w-75p {
  width: 75% !important;
}
.w-66p {
  width: 66% !important;
}
.w-50p {
  width: 50% !important;
}
.w-33p {
  width: 33.3333% !important;
}
.w-25p {
  width: 25% !important;
}
.w-10p {
  width: 10% !important;
}
.w-20p {
  width: 20% !important;
}
.w-60p {
  width: 60% !important;
}

.w-1rem {
  width: 1rem !important;
}
.w-2rem {
  width: 2rem !important;
}
.w-3rem {
  width: 3rem !important;
}
.w-4rem {
  width: 4rem !important;
}
.w-5rem {
  width: 5rem !important;
}

.w-320px {
  width: 320px !important;
}
.w-480px {
  width: 480px !important;
}
.w-560 {
  width: 560px !important;
}
.w-640 {
  width: 640px !important;
}
.w-720 {
  width: 720px !important;
}


.max-w-0 {
  max-width: none !important;
}
.max-w-320px {
  max-width: 320px !important;
}
.max-w-480px {
  max-width: 480px !important;
}
.max-w-640px {
  max-width: 640px !important;
}
.max-w-768px {
  max-width: 768px !important;
}
.max-w-960px {
  max-width: 960px !important;
}
.max-w-1280px {
  max-width: 1280px !important;
}

.max-w-25p {
  max-width: 25% !important;
}
.max-w-33p {
  max-width: 33.3333% !important;
}
.max-w-50p {
  max-width: 50% !important;
}
.max-w-100p {
  max-width: 100% !important;
}

.min-w-0px {
  min-width: none !important;
}
.min-w-240px {
  min-width: 240px !important;
}
.min-w-320px {
  min-width: 320px !important;
}
.min-w-480px {
  min-width: 480px !important;
}
.min-w-640px {
  min-width: 640px !important;
}
.min-w-768px {
  min-width: 768px !important;
}
.min-w-960px {
  min-width: 960px !important;
}
.min-w-1280px {
  min-width: 1280px !important;
}
.min-w-fs {
  min-width: 100vw !important;
}


@media screen and (min-width: 720px){
  .ls-w-a {
    width: auto !important;
  }
  .ls-w-0 {
    width: 0 !important;
  }
  .ls-w-100p {
    width: 100% !important;
  }
  .ls-w-90p {
    width: 90% !important;
  }
  .ls-w-80p {
    width: 80% !important;
  }
  .ls-w-75p {
    width: 75% !important;
  }
  .ls-w-66p {
    width: 66% !important;
  }
  .ls-w-50p {
    width: 50% !important;
  }
  .ls-w-33p {
    width: 33.3333% !important;
  }
  .ls-w-25p {
    width: 25% !important;
  }
  .ls-w-10p {
    width: 10% !important;
  }
  .ls-w-20p {
    width: 20% !important;
  }
  .ls-w-60p {
    width: 60% !important;
  }

  .ls-w-1rem {
    width: 1rem !important;
  }
  .ls-w-2rem {
    width: 2rem !important;
  }
  .ls-w-3rem {
    width: 3rem !important;
  }
  .ls-w-4rem {
    width: 4rem !important;
  }
  .ls-w-5rem {
    width: 5rem !important;
  }

  .ls-w-320px {
    width: 320px !important;
  }
  .ls-w-480px {
    width: 480px !important;
  }
  .ls-w-560 {
    width: 560px !important;
  }
  .ls-w-640 {
    width: 640px !important;
  }
  .ls-w-720 {
    width: 720px !important;
  }

  .ls-max-w-0 {
    max-width: none !important;
  }
  .ls-max-w-320px {
    max-width: 320px !important;
  }
  .ls-max-w-480px {
    max-width: 480px !important;
  }
  .ls-max-w-640px {
    max-width: 640px !important;
  }
  .ls-max-w-768px {
    max-width: 768px !important;
  }
  .ls-max-w-960px {
    max-width: 960px !important;
  }
  .ls-max-w-1280px {
    max-width: 1280px !important;
  }

  .ls-max-w-25p {
    max-width: 25% !important;
  }
  .ls-max-w-33p {
    max-width: 33.3333% !important;
  }
  .ls-max-w-50p {
    max-width: 50% !important;
  }
  .ls-max-w-100p {
    max-width: 100% !important;
  }

  .ls-min-w-0px {
    min-width: none !important;
  }
  .ls-min-w-240px {
    min-width: 240px !important;
  }
  .ls-min-w-320px {
    min-width: 320px !important;
  }
  .ls-min-w-480px {
    min-width: 480px !important;
  }
  .ls-min-w-640px {
    min-width: 640px !important;
  }
  .ls-min-w-768px {
    min-width: 768px !important;
  }
  .ls-min-w-960px {
    min-width: 960px !important;
  }
  .ls-min-w-1280px {
    min-width: 1280px !important;
  }
  .ls-min-w-fs {
    min-width: 100vw !important;
  }

}

.max-h-0 {
  max-height: none !important;
}

.h-auto,
.h-a {
  height: auto !important;
}
.h-0 {
  height: 0 !important;
}
.h-fs {
  height: 100vh !important;
}
.h-150p { /* extra */
  height: 150% !important;
}
.h-100p {
  height: 100% !important;
}
.h-50p {
  height: 50% !important;
}
.h-33p {
  height: 33.3333% !important;
}
.h-25p {
  height: 25% !important;
}
.h-80p {
  height: 80% !important;
}

.h-1rem {
  height: 1rem !important;
}
.h-2rem {
  height: 2rem !important;
}
.h-3rem {
  height: 3rem !important;
}
.h-4rem {
  height: 4rem !important;
}
.h-5rem {
  height: 5rem !important;
}


@media (min-width: 720px) {

  .ls-h-auto,
  .ls-h-a {
    height: auto !important;
  }
  .ls-h-0 {
    height: 0 !important;
  }
  .ls-h-fs {
    height: 100vh !important;
  }
  .ls-h-150p { /* extra */
    height: 150% !important;
  }
  .ls-h-100p {
    height: 100% !important;
  }
  .ls-h-50p {
    height: 50% !important;
  }
  .ls-h-33p {
    height: 33.3333% !important;
  }
  .ls-h-25p {
    height: 25% !important;
  }
  .ls-h-80p {
    height: 80% !important;
  }

  .ls-h-1rem {
    height: 1rem !important;
  }
  .ls-h-2rem {
    height: 2rem !important;
  }
  .ls-h-3rem {
    height: 3rem !important;
  }
  .ls-h-4rem {
    height: 4rem !important;
  }
  .ls-h-5rem {
    height: 5rem !important;
  }
}

.rot-90 {
  transform: rotate(90deg) !important;
}
.rot--90 {
  transform: rotate(-90deg) !important;
}
.rot-180 {
  transform: rotate(180deg) !important;
}
.t-o-bl {
  transform-origin: 0 150% !important;
}
.t-o-tl {
  transform-origin: 0 0 !important;
}

.trs-du-01 {
  transition-duration: .1s !important;
}
.trs-du-02 {
  transition-duration: .2s !important;
}
.trs-du-03 {
  transition-duration: .3s !important;
}
.trs-du-04 {
  transition-duration: .4s !important;
}
.trs-du-05 {
  transition-duration: .5s !important;
}
.trs-du-1 {
  transition-duration: 1s !important;
}
.trs-du-2 {
  transition-duration: 2s !important;
}

.trs-tf-ei {
  transition-timing-function: ease-in !important;
}
.trs-tf-eo {
  transition-timing-function: ease-out !important;
}
.trs-tf-eio {
  transition-timing-function: ease-in-out !important;
}

.center-h {
  left: 50% !important;
  transform: translateX(-50%) !important;
}
.center-v {
  top: 50% !important;
  transform: translateY(-50%) !important;
}
.center-hv {
  top: 50% !important;
  left: 50% !important;
  transform: translate3d(-50%,-50%,0) !important;
}

.cur-p {
  cursor: pointer !important;
}
.cur-a {
  cursor: auto !important;
}
.cur-ha {
  cursor: hand !important;
}
.cur-he {
  cursor: help !important;
}
.cur-d {
  cursor: default !important;
}
.cur-c {
  cursor: crosshair !important;
}

.z-10 {
  z-index: 10 !important;
}
.z-20 {
  z-index: 20 !important;
}
.z-30 {
  z-index: 30 !important;
}
